<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Usergroup" dependencies="Foundation.*" extends="GOTO-Usergroup.Feature.Base">
                    <predicate>
                        <include name="Create Usergroup" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Create UserGroup" />
                        <include name="Create Event" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Create Event" />
                        <include name="Join List" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Join List" />
                        <include name="Leave List" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Leave List" />
                        <include name="ItemId Field Type" database="master" path="/sitecore/system/Settings/Forms/Field Types/Basic/ItemId" />
                        <include name="MemberlistId Field Type" database="master" path="/sitecore/system/Settings/Forms/Field Types/Basic/MemberListId" />
                        <include name="AttendeeslistId Field Type" database="master" path="/sitecore/system/Settings/Forms/Field Types/Basic/AttendeesListId" />
                    </predicate>
                    
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>