@using GOTO_Usergroup.Foundation.XConnect.Interface
@using Microsoft.Extensions.DependencyInjection
@using Sitecore.DependencyInjection
@{
    var service = ServiceLocator.ServiceProvider.GetService<IXConnectService>();
    var listId = Guid.Parse(Sitecore.Context.Item["Attendees"]);
    var attendees = service.GetSubscribersFromList(listId);
}

<div>
    <ul class="list-group" style="max-width:400px">
        <li class="list-group-item active font-weight-bold">Attendees (@attendees.Count())</li>
        @foreach (var attendee in attendees)
        {
        <li class="list-group-item"><a href="mailto:@attendee.Email">@attendee.FirstName @attendee.LastName</a></li>
        }
    </ul>
</div>