@using GOTO_Usergroup.Foundation.XConnect.Interface
@using Microsoft.Extensions.DependencyInjection
@using Sitecore.DependencyInjection
@{
    var service = ServiceLocator.ServiceProvider.GetService<IXConnectService>();
    var listId = Guid.Parse(Sitecore.Context.Item["Organizers"]);
    var organizers = service.GetSubscribersFromList(listId);
}

<div>
    <ul class="list-group" style="max-width:400px">
        <li class="list-group-item active font-weight-bold">Members (@organizers.Count())</li>
        @foreach (var organizer in organizers)
        {
            <li class="list-group-item"><a href="mailto:@organizer.Email">@organizer.FirstName @organizer.LastName</a></li>
        }
    </ul>
</div>