@using GOTO_Usergroup.Foundation.XConnect.Interface
@using Microsoft.Extensions.DependencyInjection
@using Sitecore.DependencyInjection
@{
    var service = ServiceLocator.ServiceProvider.GetService<IXConnectService>();
    var listId = Guid.Parse(Sitecore.Context.Item["Members"]);
    var members = service.GetSubscribersFromList(listId);
}

<div>
    <h2></h2>
    <ul class="list-group" style="max-width:400px">
        <li class="list-group-item active font-weight-bold">Members (@members.Count())</li>
        @foreach (var member in members)
        {
            <li class="list-group-item"><a href="mailto:@member.Email">@member.FirstName @member.LastName</a></li>
        }
    </ul>
</div>