<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Serialization" extends="GOTO-Usergroup.Base">
                    <predicate>

                        <!-- Templates -->
                        <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
                            <exclude children="true" />
                        </include>
                        <include name="Templates.Project" database="master" path="/sitecore/templates/Project">
                            <exclude children="true" />
                        </include>

                        <!-- Branches -->
                        <include name="Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation">
                            <exclude children="true" />
                        </include>

                        <!-- Renderings -->
                        <include name="Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation">
                            <exclude children="true" />
                        </include>
                        <include name="Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
                            <exclude children="true" />
                        </include>

                        <!-- Layouts -->
                        <include name="Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="Layouts.Foundation" database="master" path="/sitecore/layout/layouts/Foundation">
                            <exclude children="true" />
                        </include>
                        <include name="Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
                            <exclude children="true" />
                        </include>

                        <!-- Placeholder Settings -->
                        <include name="PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation">
                            <exclude children="true" />
                        </include>
                        <include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
                            <exclude children="true" />
                        </include>

                        <!-- Models -->
                        <include name="Models.Feature" database="master" path="/sitecore/layout/models/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="Models.Foundation" database="master" path="/sitecore/layout/models/Foundation">
                            <exclude children="true" />
                        </include>
                        <include name="Models.Project" database="master" path="/sitecore/layout/models/Project">
                            <exclude children="true" />
                        </include>

                    </predicate>
                </configuration>
                <configuration name="Foundation.Serialization.Users" extends="GOTO-Usergroup.Base">
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <!--
							Each include must either include a domain, which includes all users under that domain,
							or a domain with a user regex pattern to determine specific users to include under the domain.
							
							For regex pattern rules, note that the regex applies to the user not including the domain,
							e.g. for "sitecore\foo" the regex pattern is checked against "foo" if the domain is set to "sitecore"
						-->
                        <include domain="sitecore" pattern="sitecore\SystemListManager" />
                        <!-- Note: you may include the same domain in multiple include elements, with different patterns -->
                    </userPredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
