<!--
    ********************************************************************
    Unicorn Helix configurations

    Defines standard configurations for modules in all layers
    ********************************************************************

    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>

                <!-- Base configuration for all modules -->
                <configuration name="GOTO-Usergroup.Base" abstract="true">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
                </configuration>

                <configuration name="GOTO-Usergroup.Base.NewItemsOnly" abstract="true">
                    <evaluator type="Unicorn.Evaluators.SerializedAsMasterEvaluator, Unicorn" singleInstance="true" env:require="DEV or Integration"/>
                    <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true" env:require="!(DEV or Integration)"/>
                    <dataProviderConfiguration enableTransparentSync="false" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\NewItemsOnly" useDataCache="false" singleInstance="true" />
                </configuration>

                <!-- Foundation modules -->
                <configuration name="GOTO-Usergroup.Foundation.Base" abstract="true" extends="GOTO-Usergroup.Base">
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="System" database="master" path="/sitecore/system/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <!-- Feature modules -->
                <configuration name="GOTO-Usergroup.Feature.Base" abstract="true" extends="GOTO-Usergroup.Base">
                    <predicate>
                        <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <!-- Project modules -->
                <configuration name="GOTO-Usergroup.Project.Base" abstract="true" extends="GOTO-Usergroup.Base">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/$(layer)/$(module)" />
                        <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <configuration name="GOTO-Usergroup.Feature.NewItemsOnly" abstract="true" extends="GOTO-Usergroup.Base.NewItemsOnly">
                    <predicate>
                        <include name="Dictionaries" database="master" path="/sitecore/system/Dictionary/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <configuration name="GOTO-Usergroup.Foundation.NewItemsOnly" abstract="true" extends="GOTO-Usergroup.Base.NewItemsOnly">
                    <predicate>
                        <include name="Dictionaries" database="master" path="/sitecore/system/Dictionary/$(layer)/$(module)" />
                    </predicate>
                </configuration>

                <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />

            </configurations>
        </unicorn>
    </sitecore>
</configuration>