<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Serialization" extends="GOTO-Usergroup.Base">
                    <predicate>

                        <!-- System -->
                        <include name="System" database="master" path="/sitecore/System/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- Templates -->
                        <include name="Templates" database="master" path="/sitecore/templates/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- Branches -->
                        <include name="Branches" database="master" path="/sitecore/templates/branches/GOTO-Usergroup">
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- Renderings -->
                        <include name="Renderings" database="master" path="/sitecore/layout/renderings/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- Layouts -->
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- Placeholder Settings -->
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- Models -->
                        <include name="Models" database="master" path="/sitecore/layout/models/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- WebEdit -->
                        <include name="WebEdit" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <include name="WebEdit.Frame" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                        <!-- thumbnails -->
                        <include name="Media" database="master" path="/sitecore/media library/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>

                    </predicate>
                </configuration>

                <configuration name="Foundation.Serialization.NewItemsOnly" extends="GOTO-Usergroup.Base.NewItemsOnly">
                    <predicate>
                        <!-- Dictionary -->
                        <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/GOTO-Usergroup">
                            <exclude childrenOfPath="Feature" />
                            <exclude childrenOfPath="Foundation" />
                            <exclude childrenOfPath="Project" />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
