<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Account" dependencies="Foundation.*" extends="GOTO-Usergroup.Feature.Base">
                    <predicate>
                        <include name="Submit Actions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Register User" />
                        <include name="Action Editor items" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/RegisterUser" />
                    </predicate>                 
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>