<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
    <exm>
      <eds>
        <!-- only used for dev environments, but that's fixed by the eds:require statement -->
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>smtp.sendgrid.net</server>
          <port>587</port>
          <userName>apikey</userName>
          <password>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</password>
          <authenticationMethod>Login</authenticationMethod>
        </smtpSettings>
      </eds>
    </exm>
  </sitecore>
</configuration>
