<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\inetpub\wwwroot\defenders-of-gotosc.dev.local\App_Data\Unicorn" />
    <sc.variable name="dataFolder" value="/App_Data" />
  </sitecore>
</configuration>