<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Website.Content" description="GOTO-Usergroup content" dependencies="Foundation.*,Feature.*" extends="GOTO-Usergroup.Base">

                    <predicate>
                        <include name="ContentWebsite" database="master" path="/sitecore/content/Frontpage" />
                    </predicate>

                    <!--Formularer-->
                    <predicate>
                        <include name="Sitecore Forms" database="master" path="/sitecore/Forms"></include>
                    </predicate>

                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization-content" useDataCache="false" singleInstance="true" />
                </configuration>

                <configuration name="Project.Website" dependencies="Foundation.*,Feature.*" extends="GOTO-Usergroup.Project.Base">
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>