<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Website" dependencies="Foundation.*,Feature.*" extends="GOTO-Usergroup.Project.Base">
                </configuration>
                <configuration name="Project.Website.Content" description="GOTO-Usergroup content" dependencies="Foundation.*,Feature.*,Project.Website" extends="GOTO-Usergroup.Base">

                    <predicate>
                        <include name="ContentWebsite" database="master" path="/sitecore/content/Frontpage" />
                    </predicate>
                    <predicate>
                        <include name="Images" database="master" path="/sitecore/media library/GOTO" />
                    </predicate>

                    <!--Formularer-->
                    <predicate>
                        <include name="Sitecore Forms" database="master" path="/sitecore/Forms"></include>
                    </predicate>

                    <!--EXM - Email-->
                    <predicate>
                        <include name="Email" database="master" path="/sitecore/content/Email"></include>
                    </predicate>
                    <predicate>
                        <include name="Email Settings" database="master" path="/sitecore/system/Settings/Email"></include>
                    </predicate>
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization-content" useDataCache="false" singleInstance="true" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>