@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@{
    Layout = "MVCLayoutOuter.cshtml";
}

<div class="container">
    @Html.Sitecore().Placeholder("header")

    <div class="content">
        @Html.Sitecore().Placeholder("body")

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseForms" role="button" aria-expanded="false" aria-controls="collapseForms">
                Create new
            </a>
        </p>
        <div class="collapse" id="collapseForms">
            <div class="card card-body">
                @Html.Sitecore().Placeholder("createforms")
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="footer">
        <div class="copyright">
            2020 Sitecore Hackathon - The A-Team: Defenders of GOTO
        </div>
    </div>
</div>