<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="GOTO_Usergroup.Foundation.XConnect.Interface.IXConnectService, GOTO-Usergroup.Foundation.XConnect" implementationType="GOTO_Usergroup.Foundation.XConnect.Service.XConnectService, GOTO-Usergroup.Foundation.XConnect" lifetime="Transient" />
        </services>
    </sitecore>
</configuration>