<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Navigation" dependencies="Foundation.*" extends="GOTO-Usergroup.Feature.Base">
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>